@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #00586f;
  --clr-gold: #fec52e;
  --clr-cyan: #22aed1;
  --clr-green: #b3d24b;
  --clr-light-gold: #fff5df;
  --clr-light-blue: #ebfbff;
  --clr-light-green: #faffec;
  --clr-salmon: #eb6852;
}
