/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Barlow","arguments":[{"subsets":["latin"],"display":"swap","weight":"400","variable":"--font-barlow"}],"variableName":"barlow"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* vietnamese */
@font-face {
  font-family: '__Barlow_fb5f72';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/8a63bc110e8f45ad-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Barlow_fb5f72';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/00045315ec24c208-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Barlow_fb5f72';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/42ca9a2dc174b9b9-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Barlow_Fallback_fb5f72';src: local("Arial");ascent-override: 103.13%;descent-override: 20.63%;line-gap-override: 0.00%;size-adjust: 96.96%
}.__className_fb5f72 {font-family: '__Barlow_fb5f72', '__Barlow_Fallback_fb5f72';font-weight: 400;font-style: normal
}.__variable_fb5f72 {--font-barlow: '__Barlow_fb5f72', '__Barlow_Fallback_fb5f72'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.bottom-0 {
  bottom: 0px;
}
.bottom-\[171px\] {
  bottom: 171px;
}
.bottom-auto {
  bottom: auto;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.left-\[45\%\] {
  left: 45%;
}
.left-\[55\%\] {
  left: 55%;
}
.left-full {
  left: 100%;
}
.right-0 {
  right: 0px;
}
.right-\[-130px\] {
  right: -130px;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-\[45\%\] {
  top: 45%;
}
.top-\[55\%\] {
  top: 55%;
}
.top-auto {
  top: auto;
}
.top-full {
  top: 100%;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-30 {
  z-index: 30;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-2\.5 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.-mt-\[1px\] {
  margin-top: -1px;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-2\.5 {
  margin-bottom: 0.625rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-\[20px\] {
  margin-bottom: 20px;
}
.mb-\[40px\] {
  margin-bottom: 40px;
}
.mb-\[50px\] {
  margin-bottom: 50px;
}
.mb-\[70px\] {
  margin-bottom: 70px;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-2\.5 {
  margin-left: 0.625rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-\[2px\] {
  margin-top: 2px;
}
.mt-\[40px\] {
  margin-top: 40px;
}
.mt-\[50px\] {
  margin-top: 50px;
}
.mt-auto {
  margin-top: auto;
}
.flex {
  display: flex;
}
.aspect-\[1\.41\] {
  aspect-ratio: 1.41;
}
.aspect-\[1\.67\] {
  aspect-ratio: 1.67;
}
.aspect-\[1\/1\] {
  aspect-ratio: 1/1;
}
.aspect-\[1\] {
  aspect-ratio: 1;
}
.aspect-\[2767\/3604\] {
  aspect-ratio: 2767/3604;
}
.aspect-\[2\] {
  aspect-ratio: 2;
}
.aspect-square {
  aspect-ratio: 1 / 1;
}
.h-10 {
  height: 2.5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-36 {
  height: 9rem;
}
.h-6 {
  height: 1.5rem;
}
.h-\[200vh\] {
  height: 200vh;
}
.h-\[300px\] {
  height: 300px;
}
.h-\[455px\] {
  height: 455px;
}
.h-\[50px\] {
  height: 50px;
}
.h-\[510px\] {
  height: 510px;
}
.h-\[512px\] {
  height: 512px;
}
.h-\[635px\] {
  height: 635px;
}
.h-\[80px\] {
  height: 80px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.max-h-\[var\(--item-height\)\] {
  max-height: var(--item-height);
}
.min-h-\[610px\] {
  min-height: 610px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-10 {
  width: 2.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-6 {
  width: 1.5rem;
}
.w-\[1320px\] {
  width: 1320px;
}
.w-\[144\%\] {
  width: 144%;
}
.w-\[1450px\] {
  width: 1450px;
}
.w-\[300px\] {
  width: 300px;
}
.w-\[316px\] {
  width: 316px;
}
.w-\[430px\] {
  width: 430px;
}
.w-\[clamp\(544px\2c 40\.47vw\2c 777px\)\] {
  width: clamp(544px,40.47vw,777px);
}
.w-full {
  width: 100%;
}
.w-\[880px\] {
  width: 880px;
}
.max-w-32 {
  max-width: 8rem;
}
.max-w-36 {
  max-width: 9rem;
}
.max-w-40 {
  max-width: 10rem;
}
.max-w-44 {
  max-width: 11rem;
}
.max-w-48 {
  max-width: 12rem;
}
.max-w-\[100px\] {
  max-width: 100px;
}
.max-w-\[20px\] {
  max-width: 20px;
}
.max-w-\[230px\] {
  max-width: 230px;
}
.max-w-\[330px\] {
  max-width: 330px;
}
.max-w-\[450px\] {
  max-width: 450px;
}
.max-w-\[50\%\] {
  max-width: 50%;
}
.max-w-\[50px\] {
  max-width: 50px;
}
.max-w-\[550px\] {
  max-width: 550px;
}
.max-w-\[575px\] {
  max-width: 575px;
}
.max-w-\[625px\] {
  max-width: 625px;
}
.max-w-\[640px\] {
  max-width: 640px;
}
.max-w-\[650px\] {
  max-width: 650px;
}
.max-w-\[775px\] {
  max-width: 775px;
}
.max-w-\[800px\] {
  max-width: 800px;
}
.max-w-\[880px\] {
  max-width: 880px;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1 {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\.5 {
  --tw-translate-y: -0.375rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-\[30\%\] {
  --tw-translate-y: -30%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-1 {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-1\.5 {
  --tw-translate-y: 0.375rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[2px\] {
  --tw-translate-y: 2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.touch-pan-y {
  --tw-pan-y: pan-y;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom);
}
.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.resize-y {
  resize: vertical;
}
.resize {
  resize: both;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.gap-x-20 {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.gap-y-1 {
  row-gap: 0.25rem;
}
.gap-y-1\.5 {
  row-gap: 0.375rem;
}
.gap-y-2 {
  row-gap: 0.5rem;
}
.gap-y-2\.5 {
  row-gap: 0.625rem;
}
.gap-y-20 {
  row-gap: 5rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-8 {
  row-gap: 2rem;
}
.gap-y-\[80px\] {
  row-gap: 80px;
}
.space-x-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-\[var\(--clr-cyan\)\] > :not([hidden]) ~ :not([hidden]) {
  border-color: var(--clr-cyan);
}
.divide-opacity-30 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.3;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-\[30px\] {
  border-radius: 30px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-bl-\[45px\] {
  border-bottom-left-radius: 45px;
}
.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}
.rounded-br-\[45px\] {
  border-bottom-right-radius: 45px;
}
.rounded-tl-\[120px\] {
  border-top-left-radius: 120px;
}
.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}
.rounded-tr-\[120px\] {
  border-top-right-radius: 120px;
}
.rounded-tr-lg {
  border-top-right-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-4 {
  border-width: 4px;
}
.border-\[142px\] {
  border-width: 142px;
}
.border-\[170px\] {
  border-width: 170px;
}
.border-\[50px\] {
  border-width: 50px;
}
.border-\[clamp\(80px\2c 8\.85vw\2c 170px\)\] {
  border-width: clamp(80px,8.85vw,170px);
}
.border-b {
  border-bottom-width: 1px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.\!border-\[var\(--clr-cyan\)\] {
  border-color: var(--clr-cyan) !important;
}
.\!border-\[var\(--clr-green\)\] {
  border-color: var(--clr-green) !important;
}
.\!border-inherit {
  border-color: inherit !important;
}
.border-\[var\(--bg-primary\)\] {
  border-color: var(--bg-primary);
}
.border-\[var\(--clr-cyan\)\] {
  border-color: var(--clr-cyan);
}
.border-\[var\(--clr-gold\)\] {
  border-color: var(--clr-gold);
}
.border-\[var\(--clr-green\)\] {
  border-color: var(--clr-green);
}
.border-\[var\(--clr-light-blue\)\] {
  border-color: var(--clr-light-blue);
}
.border-\[var\(--clr-light-green\)\] {
  border-color: var(--clr-light-green);
}
.border-slate-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
}
.border-transparent {
  border-color: transparent;
}
.border-\[var\(--clr-light-cyan\)\] {
  border-color: var(--clr-light-cyan);
}
.border-b-slate-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(226 232 240 / var(--tw-border-opacity));
}
.border-b-slate-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(148 163 184 / var(--tw-border-opacity));
}
.\!bg-\[var\(--clr-cyan\)\] {
  background-color: var(--clr-cyan) !important;
}
.\!bg-\[var\(--clr-green\)\] {
  background-color: var(--clr-green) !important;
}
.bg-\[\#FFFEFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 254 252 / var(--tw-bg-opacity));
}
.bg-\[var\(--bg-primary\)\] {
  background-color: var(--bg-primary);
}
.bg-\[var\(--clr-cyan\)\] {
  background-color: var(--clr-cyan);
}
.bg-\[var\(--clr-gold\)\] {
  background-color: var(--clr-gold);
}
.bg-\[var\(--clr-green\)\] {
  background-color: var(--clr-green);
}
.bg-\[var\(--clr-light-blue\)\] {
  background-color: var(--clr-light-blue);
}
.bg-\[var\(--clr-light-cyan\)\] {
  background-color: var(--clr-light-cyan);
}
.bg-\[var\(--clr-light-gold\)\] {
  background-color: var(--clr-light-gold);
}
.bg-\[var\(--clr-light-green\)\] {
  background-color: var(--clr-light-green);
}
.bg-\[var\(--clr-light-light-gold\)\] {
  background-color: var(--clr-light-light-gold);
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.fill-\[var\(--bg-primary\)\] {
  fill: var(--bg-primary);
}
.fill-\[var\(--clr-cyan\)\] {
  fill: var(--clr-cyan);
}
.fill-\[var\(--clr-gold\)\] {
  fill: var(--clr-gold);
}
.fill-\[var\(--clr-green\)\] {
  fill: var(--clr-green);
}
.fill-white {
  fill: #fff;
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-1 {
  padding: 0.25rem;
}
.p-1\.5 {
  padding: 0.375rem;
}
.p-14 {
  padding: 3.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-2\.5 {
  padding: 0.625rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-3\.5 {
  padding: 0.875rem;
}
.p-\[50px\] {
  padding: 50px;
}
.p-\[clamp\(24px\2c 2\.08vw\2c 40px\)\] {
  padding: clamp(24px,2.08vw,40px);
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}
.px-\[clamp\(48px\2c 2\.5vw\2c 24px\)\] {
  padding-left: clamp(48px,2.5vw,24px);
  padding-right: clamp(48px,2.5vw,24px);
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-\[28px\] {
  padding-top: 28px;
  padding-bottom: 28px;
}
.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-\[clamp\(0px\2c 2\.08vw\2c 40px\)\] {
  padding-top: clamp(0px,2.08vw,40px);
  padding-bottom: clamp(0px,2.08vw,40px);
}
.py-\[clamp\(40px\2c 3\.65vw\2c 70px\)\] {
  padding-top: clamp(40px,3.65vw,70px);
  padding-bottom: clamp(40px,3.65vw,70px);
}
.py-\[400px\] {
  padding-top: 400px;
  padding-bottom: 400px;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-1\.5 {
  padding-bottom: 0.375rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pb-\[clamp\(20px\2c 2\.6vw\2c 50px\)\] {
  padding-bottom: clamp(20px,2.6vw,50px);
}
.pl-0 {
  padding-left: 0px;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pr-10 {
  padding-right: 2.5rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pt-\[1px\] {
  padding-top: 1px;
}
.pt-\[clamp\(40px\2c 3\.65vw\2c 70px\)\] {
  padding-top: clamp(40px,3.65vw,70px);
}
.text-center {
  text-align: center;
}
.font-barlow {
  font-family: var(--font-barlow);
}
.\!text-\[45px\] {
  font-size: 45px !important;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[38px\] {
  font-size: 38px;
}
.text-\[45px\] {
  font-size: 45px;
}
.text-\[50px\] {
  font-size: 50px;
}
.text-\[55px\] {
  font-size: 55px;
}
.text-\[clamp\(14px\2c 0\.94vw\2c 18px\)\] {
  font-size: clamp(14px,0.94vw,18px);
}
.text-\[clamp\(20px\2c 1\.56vw\2c 30px\)\] {
  font-size: clamp(20px,1.56vw,30px);
}
.text-\[clamp\(24px\2c 2\.08vw\2c 40px\)\] {
  font-size: clamp(24px,2.08vw,40px);
}
.text-\[clamp\(28px\2c 1\.98vw\2c 38px\)\] {
  font-size: clamp(28px,1.98vw,38px);
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-\[1\.25\] {
  line-height: 1.25;
}
.leading-\[1\.4\] {
  line-height: 1.4;
}
.leading-\[1\.5\] {
  line-height: 1.5;
}
.leading-\[150\%\] {
  line-height: 150%;
}
.leading-\[clamp\(28px\2c 1\.88vw\2c 36px\)\] {
  line-height: clamp(28px,1.88vw,36px);
}
.leading-normal {
  line-height: 1.5;
}
.leading-tight {
  line-height: 1.25;
}
.\!-tracking-\[0\.45\] {
  letter-spacing: -0.45 !important;
}
.-tracking-\[0\.22px\] {
  letter-spacing: -0.22px;
}
.-tracking-\[0\.38px\] {
  letter-spacing: -0.38px;
}
.-tracking-\[0\.3px\] {
  letter-spacing: -0.3px;
}
.-tracking-\[0\.45px\] {
  letter-spacing: -0.45px;
}
.-tracking-\[0\.55px\] {
  letter-spacing: -0.55px;
}
.-tracking-\[0\.5px\] {
  letter-spacing: -0.5px;
}
.tracking-\[-0\.16px\] {
  letter-spacing: -0.16px;
}
.tracking-\[-0\.38px\] {
  letter-spacing: -0.38px;
}
.tracking-\[0\.8px\] {
  letter-spacing: 0.8px;
}
.tracking-\[2px\] {
  letter-spacing: 2px;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.text-\[\#787878\] {
  --tw-text-opacity: 1;
  color: rgb(120 120 120 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
  text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.opacity-50 {
  opacity: 0.5;
}
.shadow-normal {
  --tw-shadow: 0 3px 16px 3px rgba(0,0,0,.05);
  --tw-shadow-colored: 0 3px 16px 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --bg-primary: #00586f;
  --clr-green: #b3d24b;
  --clr-cyan: #22aed1;
  --clr-gold: #fec52e;
  --clr-salmon: #eb6852;
  --clr-light-blue: #ebfbff;
  --clr-light-gold: #fff5df;
  --clr-light-green: #faffec;
}

.hover\:scale-\[1\.3\]:hover {
  --tw-scale-x: 1.3;
  --tw-scale-y: 1.3;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:\!bg-\[var\(--bg-primary\)\]:hover {
  background-color: var(--bg-primary) !important;
}

.hover\:\!bg-inherit:hover {
  background-color: inherit !important;
}

.hover\:bg-\[var\(--clr-cyan\)\]:hover {
  background-color: var(--clr-cyan);
}

.hover\:bg-\[var\(--clr-gold\)\]:hover {
  background-color: var(--clr-gold);
}

.hover\:bg-\[var\(--clr-green\)\]:hover {
  background-color: var(--clr-green);
}

.hover\:font-semibold:hover {
  font-weight: 600;
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-\[var\(--clr-gold\)\] {
  border-color: var(--clr-gold);
}

.group:hover .group-hover\:pl-5 {
  padding-left: 1.25rem;
}

@media (min-width: 640px) {

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:border-0 {
    border-width: 0px;
  }

  .group:hover .md\:group-hover\:opacity-100 {
    opacity: 1;
  }
}

@media (min-width: 1024px) {

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:pl-\[250px\] {
    padding-left: 250px;
  }
}

@media (min-width: 1280px) {

  .xl\:-mt-\[5\%\] {
    margin-top: -5%;
  }

  .xl\:max-w-\[1024px\] {
    max-width: 1024px;
  }

  .xl\:py-44 {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  .xl\:py-\[140px\] {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .xl\:py-\[300px\] {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .xl\:py-\[400px\] {
    padding-top: 400px;
    padding-bottom: 400px;
  }

  .xl\:\!py-\[300px\] {
    padding-top: 300px !important;
    padding-bottom: 300px !important;
  }

  .xl\:pb-\[170px\] {
    padding-bottom: 170px;
  }

  .xl\:pl-\[350px\] {
    padding-left: 350px;
  }
}

@media (min-width: 1536px) {

  .\32xl\:max-w-\[1280px\] {
    max-width: 1280px;
  }

  .\32xl\:py-\[170px\] {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .\32xl\:pl-\[450px\] {
    padding-left: 450px;
  }
}

.\[\&\>\*\]\:h-0\.5>* {
  height: 0.125rem;
}

.\[\&\>\*\]\:w-3\.5>* {
  width: 0.875rem;
}

.\[\&\>\*\]\:w-full>* {
  width: 100%;
}

.\[\&\>\*\]\:max-w-\[160px\]>* {
  max-width: 160px;
}

.\[\&\>\*\]\:max-w-\[50\%\]>* {
  max-width: 50%;
}

.\[\&\>\*\]\:overflow-hidden>* {
  overflow: hidden;
}

.\[\&\>\*\]\:bg-\[var\(--bg-primary\)\]>* {
  background-color: var(--bg-primary);
}

.\[\&\>\*\]\:px-4>* {
  padding-left: 1rem;
  padding-right: 1rem;
}

.\[\&\>\*\]\:py-1>* {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.\[\&\>\*\]\:underline>* {
  text-decoration-line: underline;
}

.\[\&\>\*\]\:transition>* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.\[\&\>\*\]\:duration-300>* {
  transition-duration: 300ms;
}

.\[\&\>\*\]\:ease-in-out>* {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

